{% extends 'website/index.html' %}


{% block title %}
<title>Coding India Portfolio</title>
{% endblock title %}

{% block meta %}
<meta name="keywords" content="coding india projects, portfolio, software development, web development, app development, Python, Django, HTML/CSS, Bootstrap, JavaScript, jQuery, MySQL, frontend development, backend development">

<meta name="description" content="Discover Coding India's impressive portfolio showcasing our expertise in software development, web and app development using Python, Django, HTML/CSS, Bootstrap, JavaScript, jQuery, and MySQL. Explore our successful projects and innovative solutions.">

{% endblock meta %}


{% block content %}
        <!-- banner -->
        <div class="mil-banner-sm mil-deep-bg" style="background-color: black;">
            <!-- <img src="" alt="background" class="mil-background-image"> -->
            <div class="mil-deco mil-deco-accent" style="top: 47%; right: 10%; transform: rotate(90deg)"></div>
            <div class="mil-banner-content">
                <div class="container mil-relative">
                    <ul class="mil-breadcrumbs mil-mb-30">
                        <li><a style="color: white;" href="/">Home</a></li>
                        <li><a style="color: white;" href="portfolio.html">Works</a></li>
                    </ul>
                    <h2 class="mil-uppercase" style="color: white;">Our Projects</h2>
                </div>
            </div>
        </div>
        <!-- banner end -->

        <!-- portfolio -->
        <section class="mil-p-120-120">
            <div class="container">
                {% for i in page_obj %}
                <div class="row justify-content-between align-items-center">
                    <div class="col-xl-6 mil-mb-60">

                        <div class="mil-project-cover">
                            <img src="{{i.img}}" alt="Project" style="width: 100%; height: 100%; object-fit: contain; ">
                        </div>
                    </div>
                    <div class="col-xl-5 mil-mb-60">
                        <span class="mil-suptitle mil-suptitle-2 mil-mb-30">{{i.desc}}</span>
                        <h3 class="mil-mb-30">{{i.name}}</h3>
                        <a href="{% url 'portfoliodetail' i.slug %}" class="mil-button-with-label">
                            <div class="mil-button mil-border mil-icon-button"><span><i class="fas fa-plus"></i></span></div><span class="mil-dark">See More</span>
                        </a>
                    </div>
                </div>
                
                {% endfor %}

                <div class="mil-divider mil-mb-60"></div>

                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a class="pagclass" style="border: 1px solid rgb(255, 157, 0); border-radius: 15px; padding: 15px;" href="?page=1">&laquo; first</a>
                            <a class="pagclass" style="border: 1px solid rgb(255, 157, 0); border-radius: 15px; margin: 15px; padding: 15px;" href="?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}
                
                        <span class="current" style="margin: 15px; text-decoration: underline;">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>
                
                        {% if page_obj.has_next %}
                            <a class="pagclass" style="border: 1px solid rgb(255, 157, 0); border-radius: 15px; margin: 15px; padding: 15px;" href="?page={{ page_obj.next_page_number }}">next</a>
                            <a class="pagclass" style="border: 1px solid rgb(255, 157, 0); border-radius: 15px; padding: 15px;" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                    
                </div>
            </div>
        </section>
        <!-- portfolio end -->

{% endblock content %}
