{%extends 'website/index.html'%}

{% block title %}
<title>{{blogs.title}}</title>
{% endblock title %}

{% block meta %}
<meta name="keywords" content='{{blog.tags}}'>
<meta name="description" content="{{ blog.content|striptags|truncatechars:150 }}">
{% endblock meta %}


{% block content %}
{% load static %}
    <!-- banner -->
    <!-- <div class="mil-banner-sm-2 mil-deep-bg">
      <img src="img/blog/5.jpg" class="mil-background-image" style="object-position: center" alt="Publication cover">
      <div class="mil-overlay"></div>
  </div> -->
  <!-- banner end -->

  <!-- blog -->
  <section class="mil-blog mil-p-120-0">
      <div class="container">
          <div class="row justify-content-between">
              <div class="col-lg-8 col-xl-8 mil-mb-120">

                  <span class="mil-suptitle mil-accent mil-mb-30">{{blog.category}}</span>
                  <h3 class="mil-up-font mil-mb-30">{{blog.title}}</h3>
                  <ul class="mil-dot-list mil-post-info mil-text-sm mil-mb-60">
                      <li class="mil-post-author"><span>{{blog.author}}</span></li>
                      <li>{{blog.pub_date}}</li>
                      <li>{{blog.readtime}}</li>
                  </ul>
                  <div class="mil-divider mil-mb-60"></div>

                  {{blog.content|safe}}

                  <div class="mil-divider mil-mb-60"></div>
              </div>
              <div class="col-lg-4 col-xl-3 mil-mb-120">

                  <div class="mil-mb-60">
                      <h5 class="mil-list-title mil-mb-30">About Coding India</h5>
                      <p class="mil-mb-30">We're your trusted partner in web development. At <a href="https://codingindia.co.in/">Coding India</a>, we transform ideas into stunning websites that make a mark. With a passion for innovation and a commitment to excellence, we create web solutions tailored to your needs. Let us bring your digital vision to life.</p>
                      <a href="https://digamber-portfolio.vercel.app/" class="mil-post-sm mil-mb-15">
                          <!-- <div class="mil-cover-frame"><img src="" alt="cover"></div> -->
                          <div class="mil-description">
                              <h4 class="mil-font-3 mil-accent">Digamber Jha</h4>
                              <p class="mil-text-sm">CEO & Co-Founder</p>
                          </div>
                      </a>
                  </div>
                 
                  <div class="mil-divider mil-mb-60"></div>
                  <div class="mil-mb-60">
                      <h5 class="mil-list-title mil-mb-30">Recent Posts</h5>
                      {% for i in randomBlogs %}
                      <a href="{% url 'readblog' i.slug %}" class="mil-post-sm mil-mb-15">
                          <div class="mil-cover-frame"><img src="{{i.img}}" alt="cover"></div>
                          <div class="mil-description">
                              <h6>{{i.title}}</h6>
                          </div>
                      </a>
                      {% endfor %}
                  </div>
                  <div class="mil-divider mil-mb-60"></div>
                  <!-- <div class="mil-mb-60">
                      <h5 class="mil-list-title mil-mb-30">Categories</h5>
                      <ul class="mil-hover-link-list">
                        {% for i in playlist %}
                          <li>
                              <a href="#.">{{i.name}}</a>
                          </li>
                          {% endfor %}
                      </ul>
                  </div>

                  <div class="mil-divider mil-mb-60"></div> -->
                  <h5 class="mil-list-title mil-mb-30">Contact us</h5>
                  <p class="mil-mb-30">You can contact us by visiting.</p>
                  <a href="{% url 'contactus' %}" class="mil-link mil-link-sm"><span>Contact Us</span><i class="fas fa-arrow-right"></i></a>

              </div>
          </div>
      </div>
  </section>
  <!-- blog end -->

{% endblock content %}